{% extends "base.html" %}

{% load django_bootstrap5 %}
{% bootstrap_css %}

{% block content %}
<div class="text-center p-4"><h3>Список файлов:</h3></div>
<div class="container px-2">
    <form action="/files">
        <label> Тип файлов: </label>
        <input type="hidden" name="key" value="{{ key }}">
        <input type="hidden" name="path" value="{{ path }}">
        {% bootstrap_form form show_label=False %}
        <button class="btn btn-primary" type="submit">Отправить</button>
    </form>
</div>
<h5 class="text-center">{{ path }}</h5>
<div class="container px-2">
    <div class="row">
        {% for i in files %}
        {% if i.type == 'file' %}
        {% if i.media_type in type %}
        <div class="col-lg-2 col-sm-4 mb-3">
            <div class="card text-center h-100">
                <img src="{{ i.preview }}" class="card-img-top" alt="нет изображения" height="150px">
                <div class="card-body">
                    <p class="p-2">{{i.name}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ i.file }}" class="btn btn-primary ms-auto">скачать</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="col-lg-2 col-sm-4 mb-3">
            <div class="card text-center text-bg-warning h-100">
                <div class="card-body">
                    <h5 class="p-2">{{ i.name }}</h5>
                </div>
                <div class="card-footer">
                    <a href="/files/?key={{key}}&path={{i.path}}" class="btn btn-primary p-2 ms-auto">открыть</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}