{% extends "base.html" %}

{% load django_bootstrap5 %}
{% bootstrap_css %}

{% block content %}
<div class="text-center p-4"><h3>Список файлов:</h3></div>
<h5 class="text-center">{{ path }}</h5>
    {% for i in files %}
        {% if i.type == 'file' %}
            <div class="container text-center p-2">
                <div class="col border border-2 rounded-2">
                    <div class="hstack gap-3">
                        <h5 class="p-2">{{i.name}}</h5>
                        <a href="{{ i.file }}" class="btn btn-primary p-2 ms-auto">скачать</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container text-center p-2">
                <div class="col border border-2 rounded-2">
                    <div class="hstack gap-3">
                        <h5 class="p-2">{{i.name}}</h5>
                        <a href="/files/?key={{key}}&path={{i.path}}" class="btn btn-primary p-2 ms-auto">открыть</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}